
.thubnail{
    width: 320px;
    height: auto;
    object-fit: contain;
    object-position: top;
    margin-top: 0px;
    border-radius: 5%;
}
.video-preview{
    margin-top: 10px;
    padding: 15px;
    width: 320px;
}
.video-preview:hover{
    background-color: antiquewhite;
    border-radius: 10%;
}
.thubnail-row{
    margin-bottom: 8px;
    padding-bottom: 0px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 40px 1fr;
}
.channel-picture{
    width: 30px;
    vertical-align: top;
}
.profile-picture{
    width: 30px;
    border-radius: 50px;
}
.video-info{
    display: inline-block;
    width: 280px; 
    margin-top: 0px;
}
.video-tittle{
    display: inline-block;
    font-size: 16px;
    color: #0f0f0f;
    font-weight: 450;
    width: 250px;
}
.button1{
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    width: 30px;
    display: inline-block;
    
}
.button1:hover{
    border: 1px solid #C0C0C0;
    background-color: #C0C0C0;
    border-radius: 50%;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.video-author , .video-stats{
    font-size: 14px;
    color: #606060;
}

.video-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 0px;
    row-gap: 30px;
}