.header{
    display: flex;
    flex-direction: row;
    height: 70px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:100;
    background: white;
}
.nav{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 70px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}
.nav-container{
    position: fixed;
    top: 60px;
    left: 73px;
    right: 10px;
    height:56px;
    padding-left: 20px;
    background: white;
    z-index: 99;
    display: flex;
    align-items: center;
    
}
.next-button{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background: rgb(253, 251, 251);
    cursor: pointer;
}
.next-button img{
    height: 30px;
    padding: 3px;

}
.next-button:hover{
    background: #f2f2f2;
}
.nav::-webkit-scrollbar{
    display: none;              
}
.nav button{
    font-size: 14px;
    border: none;
    height: 32px;
    width: auto;
    padding: 8px 12px 8px 12px;
    border-radius:8px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 550;
    font-family: "Roboto", Arial, sans-serif;
}
.nav .active{
    background:black;
    color:white;
}
.left-section{
    display: flex;
    align-items: center;

}
.middle-section{
    flex: 1;
    margin-left: 145px;
    margin-right: 70px;
    max-width: 650px;
    display: flex;
    align-items: center;
}
.search-menu{
    display: flex;
    flex-direction: row;
}
.search{
    flex:1;
    height: 38px;
    border: 1px solid lightgray;
    box-shadow: inset 1px 2px 3px rgba(186, 186, 186, 0.1); 
    border-radius:20px 0 0 20px;
    font-size: 16px;
    padding-left: 15px;
}
.search-bar{
    height: 41.34px;
    width:60px;
    background-color: #faf9f9;
    border: 1px solid lightgray;
    border-left: none;
    border-radius:0 25px 25px 0;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar:hover{
    cursor: pointer;
    background-color: lightgray;

}
.search-icon{
    height: 30px;
}
.mic-icon{
    border:none;
    background-color: #efeded;
    border-radius: 50px;
    margin-left: 15px;
   padding-top: 5px;
    height: 40px;
    width: 40px
}
.mic{
    height: 27px;
}
.mic-icon:hover{
    background-color: lightgray;
}
.search::placeholder{
    font-family: "Roboto" , Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.right-section{
    padding-top: 2px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    gap:8px;
}
.add{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    width: 95px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto" , Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background-color:#f2f2f2;
    margin-top: 2px;
    gap: 4px;
}
.add:hover{
    background-color:#e5e5e5;
}
.add-icon{
    width: 20px;
}

.hamburger-menu{
    height: 25px ;
    margin-right: 25px;
    margin-left: 20px;
}
.youtube-logo{
    height: 21px;
}
.notification-icon{
    height: 25px;
    margin-right: 10px;
    margin-left: 5px;
    width: 25px;
    
}

.notification-container{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
}
.notification-container:hover{
    background:#f2f2f2;
}
.current-user{
    background-color: rgb(1, 59, 1);
    color: white;
    height: 35px;
    width: 35px;
    object-fit: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
}
